# Stuff that can't change outside of Github website
docs/*
TestLight/
*.sh
!README.md

# These are executable binaries...
*.exe
*.out
*.o
*
# Since extensionless files can be executables, we need this...
!*/
!*.*
